<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="shortcut icon" href=   "https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-22-512.png"> 
  <link rel="apple-touch-icon" href="https://cdn0.iconfinder.com/data/icons/social-networks-and-media-flat-icons/136/Social_Media_Socialmedia_network_share_socialnetwork_network-22-512.png"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>
      <a href="/">The Tech Blog</a>
    </h1>
    
    <nav>
      <a href="/dashboard">Manage Posts</a>
      <a href="/login">Login</a>
      <button id="logout">Logout</button>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    Made with 💚 by Matt Gross &copy 2021
  </footer>
</body>
</html>