
<div class="blog-post blog-post-flush w-100 mt-5" id="blog">
  {{#if loggedIn}}
  {{#each posts }}
      {{> blog-post-item-logged }}
  {{/each}}
  {{/if}}


  {{#unless loggedIn}}
  {{#each posts }}
      {{> blog-post-item-guest }}
  {{/each}}
  {{/unless}}

</div>

{{#if loggedIn}}
<script src='/javascript/like.js'></script>
{{/if}}

<script src='/javascript/share.js'></script>