<h2 class="h2">Join The Tech Blog Today</h2>

<form class="d-none" id="login-form">
  <div>
    <label for="login-email">Email</label>
    <input class="w-100" type="text" name="login-email" id="login-email" placeholder="Enter your email">
  </div>
  <div>
    <label for="login-password">Password</label>
    <input class="w-100" type="text" name="login-password" id="login-password" placeholder="Enter your password">
  </div>
  <button class="btn-main" type="submit">Login</button>
</form>

<form class="d-none" id="signup-form">
  <div>
    <label for="signup-username">Username</label>
    <input class="w-100" type="text" name="signup-username" id="signup-username" placeholder="Enter your username">
  </div>
  <div>
    <label for="signup-email">Email</label>
    <input class="w-100" type="text" name="signup-email" id="signup-email" placeholder="Enter your email">
  </div>
  <div>
    <label for="signup-password">Password (must be 8 characters)</label>
    <input class="w-100" type="text" name="signup-password" id="signup-password" placeholder="Enter your password">
  </div>
  <button class="btn-main" type="submit">Signup</button>
</form>

<div class="mt-3 text-center">
  <button class="btn-main" id="display-login" style="width:92.016px">Login</button>
  <button class="btn-main" id="display-signup">Signup</button>
</div>

{{#unless loggedIn}}
<script src="/javascript/login.js"></script>
{{/unless}}