<form id="search-form" class="mt-5">
  <div>
    <label for="search-username">Search for Users</label>
    <input list="users" class="w-100" type="text" name="search-username" id="search-username">
  </div>

  <datalist id="users"></datalist>
  <button class="btn-main" type="submit">Search</button>
</form>

<script src="../javascript/searchUsers.js"></script>