* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #9df5bf;
  --color2: #F59ED4;
  --color3: #F5EB9E;
  --color4: #9EA8F5;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: var(--color4);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: black;
  border-bottom: var(--color4) solid 1px;
  padding-bottom: 10px;
}

footer {
  border-top: var(--color4) solid 1px;
  color: var(--color1);
}

h1 {
  color: var(--color1);
  text-shadow: 2px 1px 1px var(--color2);
  font-weight: bold;
}

.h2 {
  color: var(--color1);
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin: 20px auto 0 auto;
  width: 80%;
}

#login-form, #signup-form {
  max-width: 550px;
}

form {
  margin: 10px auto;
  border: 1px solid var(--color2);
  padding: 0 15px 15px 15px;
}

label {
  color: var(--color2);
  margin-top: 15px;
}

button:focus, input:focus, textarea:focus {
  outline:none;
}

textarea {
  min-height: 250px;
}

.comment-form {
  max-width: none;
}

.comment-textarea {
  min-height: 0px;
  height: 100px;
}

.btn-primary {
  background-color: var(--color3);
  color: black;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 15px;
  margin-top: 15px
}

.btn-main {
  background-color: var(--color3);
  color: black;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 15px;
  margin-top: 15px;
  transition: .2s;
}

.btn-main:focus {
  outline: none;
  background-color: var(--color2);
}

.btn-main:active {
  outline: none;
  background-color: var(--color2);
}

.btn-main:hover {
  outline: none;
  background-color: var(--color2);
}

.nav-item {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--color3);
  transition: color .3s;
}

.nav-item:hover {
  color: var(--color2);
  text-decoration: none;
}

.blog-post-item {
  border: var(--color1) solid 1px;
}

.blog-post-p {
  white-space: pre-line;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}

.comment-div {
  overflow-wrap: break-word;
}

.blog-post-header {
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 20px;
}

.blog-post-title {
  font-style: italic;
  font-weight: bold;
}

.blog-post-header > a {
  color: var(--color3);
  transition: .3s;
}

.blog-post-header > a:hover {
  text-decoration: none;
  color: var(--color2);
}

.blog-post-date {
  font-size: 16px;
  color: var(--color1);
}

.post-buttons {
  width: 50px;
  height: 50px;
  transition: .4s ease-in-out;
  color: var(--color3);
  font-size: 16px;
}

.oi-commentDiv:hover, .oi-editDiv:hover{
  background-color: var(--color3);
  color: blue;
}

.oi-likeDiv:hover{
  background-color: var(--color3);
  color: red;
}

.oi-flagDiv:hover, .oi-trashDiv:hover {
  background-color: red;
  color: black;
}

.oi-shareDiv:hover {
  background-color: var(--color3);
  color: green;
}

.red {
  color: red;
}

.comment-div:nth-of-type(4n-2) {
  border-top: solid 1px;
  border-color: var(--color1);
  color:var(--color3)
}

.comment-div:nth-of-type(4n-3) {
  border-top: solid 1px;
  border-color: var(--color2);
  color:var(--color4)
}

.comment-div:nth-of-type(4n-4) {
  border-top: solid 1px;
  border-color: var(--color3);
  color:var(--color1)
}

.comment-div:nth-of-type(4n-5) {
  border-top: solid 1px;
  border-color: var(--color4);
  color:var(--color2)
}

